<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1 class="teamMembersTitle">
    Team Members
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<div class="searchBar">
    <input type="text" placeholder="Search.." [(ngModel)]='query'>
     <span style="">Count: {{usersArray.length}} People</span>
</div>

<div *ngFor="let item of usersArray | filter:query ;let i=index" class="userCardTitle" (click)="toggleCard(i)">
  <div style="display:flex; justify-content:start;">
    <img src="../assets/icons/userIcon.png" class='imgClass'>
    <div id="user{{i}}">
      {{usersArray[i].name}}

    </div>
  </div>
  <div class="arrow" *ngIf='usersArray[i].showAddressFlag==false'>

    <img src="../assets/icons/rightArrow.png" style="width:2%;">
  </div>
  <div class="arrow" *ngIf='usersArray[i].showAddressFlag==true'>
    <img src="../assets/icons/downArrow.png" style="width:2%;">
  </div>
  <div *ngIf='usersArray[i].showAddressFlag==true' class="addressField">
    Address:{{usersArray[i].address.street}}, {{usersArray[i].address.suite}},{{usersArray[i].address.city}}

  </div>
  <div>
    <br>
  </div>
</div>
